
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
//@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "animate";

$default: #c3c3c3;
$info: #3273dc;
$pink: pink;
$success: #22c65b;
$warning: #bf5329;
$yellow: #ffdb4a;
$purple: purple;

@media print {
  #app {
  	font-size:10px;
  }
  #app > nav.nav{
  	display:none;
  }
   #app .filters{
  	display:none;
  }
  #app .tooltip{
  	display:none;
  }
}
.nav{
	z-index: 5 !important;
}
.nav-item{
	font-size: 0.8rem;
}
.tooltip{
	cursor:pointer;
}
.table{
	.header-vehicle{
		background-color: #c3c3c3;
		color:white;

	}
	.color-reservation{
		color:black;
	}
	.color-reservation.is-default{
		background-color: rgba($default,.5);
		
		
	}
	.color-reservation.is-info{
		background-color: rgba($info,.5);
		
		
	}
	.color-reservation.is-pink{
		background-color: rgba($pink,1);
		
		
	}
	.color-reservation.is-success{
		background-color: rgba($success, .5);
		
	}
	.color-reservation.is-warning{
		background-color: rgba($warning,.5);
		
		
	}
	.color-reservation.is-yellow{
		background-color: rgba($yellow,.5);
		
		
	}
	.color-reservation.is-purple{
		background-color: rgba($purple,.5);
		
		
	}
}
.preloader {
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: white;
}

.preloader .img {
	position: absolute;
	top: calc(50% - 32px);
	left: calc(50% - 32px);
	span{
		display:block;
	}
}
div.notification{
	position: fixed;
	left: 0;
	right:0;
	bottom:0;
}
.control.picker{
	position: static;
}
.pagination-bulma{
	.pagination{
		justify-content: flex-start;
	}
	ul{
		list-style: none;
		margin-left: 0; 
        margin-right: 0; 
        margin-top: 0; 
	}
	li + li{
		margin-top: 0;
	}
	li{
		margin: 0 2px;
	}
	li a,li > span{
		-moz-appearance: none;
	    -webkit-appearance: none;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    border: none;
	    border-radius: 3px;
	    box-shadow: none;
	    display: -webkit-inline-box;
	    display: -ms-inline-flexbox;
	    display: inline-flex;
	    font-size: 1rem;
	    height: 2.25em;
	    -webkit-box-pack: start;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	    line-height: 1.5;
	    padding-bottom: 0.375em;
	    padding-left: 0.625em;
	    padding-right: 0.625em;
	    padding-top: 0.375em;
	    position: relative;
	    vertical-align: top;
	    -webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    font-size: 1em;
	    padding-left: 0.5em;
	    padding-right: 0.5em;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    text-align: center;
	    border: 1px solid #dbdbdb;
    	min-width: 2.25em;
	}
	li.active a,li.active span{
		background-color: #00d1b2;
	    border-color: #00d1b2;
	    color: #fff;
	}
}

.v-select .dropdown-menu{
	font-size:12px;
}
.v-select .selected-tag{
	font-size:10px;
}
.time-picker{
	display:inherit !important;
	width:auto !important;
	
}
.time-picker input.display-time{
	width:100% !important;
}
.flatpickr-input, .display-time{
	-moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.25;
    padding-bottom: .5em;
    padding-left: .625em;
    padding-right: .625em;
    padding-top: .5em;
    position: relative;
    vertical-align: top;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    color: #363636;
    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    max-width: 100%;
    width: 100%;
}
.drag {
 
}
.panel-heading{
    	.client{
    		font-size:13px;
    	}
    }
.dragAreatravel{
	min-height: 100px;
	background-color: whitesmoke;
    border-radius: 3px;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
    position: relative;
    .panel{
    	font-size:12px;
    }
    .panel-heading{
    	line-height: 1.55;
    }
}
.dragArea {
  min-height: 100px;
  margin-bottom:.5rem;
  content: 'Drag & Drop the reservations';
  .panel{
	cursor: move;
  }
  
  
  //background-color: green;
  //color:white;
  //border: 1px solid #c3c3c3;
}

.select2-container--default .select2-selection--multiple{
	border: 1px solid #dbdbdb !important;
	box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
	border-color: #00d1b2 !important;
}
.panel-heading.important{
	animation-name: shine;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	color:white;
}

#no-more-tables{
	margin-top: 1rem;
}
@media only screen and (max-width: 640px) {
  .panel-heading .is-pulled-right {
		float:none;
		margin-top:10px;
	}
}
@media only screen and (max-width: 800px) {
 
        /* Force table to not be like tables anymore */
        #no-more-tables table, 
        #no-more-tables thead, 
        #no-more-tables tbody, 
        #no-more-tables th, 
        #no-more-tables td, 
        #no-more-tables tr { 
          display: block; 
        }
       
        /* Hide table headers (but not display: none;, for accessibility) */
        #no-more-tables thead tr { 
          position: absolute;
          top: -9999px;
          left: -9999px;
        }
       
        #no-more-tables tr { border: 1px solid #ccc; }
       
        #no-more-tables td { 
          /* Behave  like a "row" */
          border: none;
          border-bottom: 1px solid #eee; 
          position: relative;
          padding-left: 50%; 
          white-space: normal;
          text-align:left;
        }
       
        #no-more-tables td:before { 
          /* Now like a table header */
          position: absolute;
          /* Top/left values mimic padding */
          top: 6px;
          left: 6px;
          width: 45%; 
          padding-right: 10px; 
          white-space: nowrap;
          text-align:left;
          font-weight: bold;
        }
       
        /*
        Label the data
        */
        #no-more-tables td:before { content: attr(data-title); }
      }




